@import './variables.css';

.btn {
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin: auto;
    outline: none;
    width: 100%;
}

.btn--container {
    margin-left: auto;
    margin-right: 25px;
    padding: 5px 0 30px 0;
    width: 50%;
}

.btn--primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--secondary);
    transition: 0.3s;
}

.btn--primary:hover {
    background-color: var(--deep-blue);
}

.btn--swap-values {
    aspect-ratio: 1/1;
    border: 1px solid var(--light-grey);
    border-radius: 50px;
    height: 45px;
    margin: 50px 0 0 0;
    opacity: .7;
    width: 45px;
}

.btn--swap-values:hover {
    opacity: 1;
}

.btn--swap-values:focus {
    opacity: 1;
}

.btn--disabled {
    opacity: 0.60;
}

@media (max-width: 580px) {
    .btn--container {
        padding: 10px 0 0 0;
        width: 100%;
    }

    .btn--swap-values {
        margin: 0 0 0 10px;
    }
}