@import './variables.css';

.card {
    background-color: var(--secondary);
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 20px;
}

.card--main {
    max-width: 900px;
    min-width: 350px;
}